body{
    background-color: whitesmoke;
    padding: 0px;
    margin: 0px;

}

li {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(14, 75, 75);
    
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
.flex-container {
    
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: center;
    width: 800px;
    height: 250px;
    background-color: white;
}

.flex-item {
    background-color: whitesmoke;
    width: 200px;
    height: 200px;
    margin: 10px;
}